<header class="main-header" (click)="closeDropdownOnClickOutside($event)">
    <div class="container">
        <a routerLink="/" class="logo">
            <div class="logo-icon">
                <i class="fa-solid fa-house-chimney logo-house"></i>
            </div>
            <span class="logo-text">CloudHouse</span>
        </a>
        <nav class="main-nav" id="mainNav">
            <ul *ngIf="!isAuthenticated">
                <li><a routerLink="/login" class="btn btn-secondary">Iniciar Sesión</a></li>
                <li><a routerLink="/register" class="btn btn-primary">Regístrate</a></li>
            </ul>
            
            <ul *ngIf="isAuthenticated && user">
                <li><a href="#" class="user-welcome">¡Hola, {{ user.name }}!</a></li>
                <li>
                    <div class="user-avatar" (click)="toggleUserMenu()">
                        <span class="avatar-initials">{{ initials }}</span>
                        <div class="user-dropdown" id="userDropdown">
                            <a (click)="editProfile()" style="cursor: pointer;">
                                <i class="fa-solid fa-user"></i>
                                Editar Perfil
                            </a>
                            <a (click)="logout()" style="cursor: pointer;">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
